
body {
	background: url("contact.jpeg") no-repeat;
	background-size: 100% 100%; width: 100%;
}
.h {
	font-family: 'Abel';
  	padding-left: 10px;
  	text-align: left;
  	font-size: 20px;
  	color: white;
  	display: inline;
}
.c {
	color:yellow;
	margin-left:100px;
	margin-top:50px;
	text-align:center;
	margin-bottom:50px;font-size:250%;
	font-family: 'Aclonica';
}
.fb {
	margin-left:300px;
	padding-top:100px;
}
footer {
	padding-top:255px;
	padding-right:10px;
  	text-align: right;
  	color: #fff;
}